<footer class="novis-footer">
  <div class="footer-wrap">


  <div class="logos">
    <div class="novis-logo">
      <img src="{{site.url}}/assets/img/logo.svg" alt="{{site.description}}: Novis Official Logo">
      <h1 class="logo-text">novis</h1>
    </div>
  </div>
  <div class="social">
    <a href="https://www.facebook.com/novisdizajn/" target="_blank">
      <img src="{{site.url}}/assets/img/fb.svg" alt="{{site.description}}: Facebook Stranica Novis Sajtovi Srbija Pozarevac">
    </a>
    <a href="https://www.instagram.com/novis_dizajn/" target="_blank">
      <img src="{{site.url}}/assets/img/insta.svg" alt="{{site.description}}: Instagram Stranica Novis Sajtovi Srbija Pozarevac">
    </a>
  </div>
  </div>
</footer>
