<section class="better-section">
  <h1 class="novis-center section-title">Zašto smo bolji od ostalih?</h1>
  <h3 class="novis-center section-subtitle">Postoji bezbroj razloga zašto smo bolji od ostalih, navešćemo ih samo nekoliko.</h3>
  <div class="reasons-wrapper">

    <div class="reason" data-aos="zoom-in-left">
      <img src="/assets/img/kvalitet.svg" alt="{{site.description}}: Ikonica Kvalitetan Dizajn" class="reason-icon">
      <h2 class="reason-title">Kvalitet</h2>
      <p>Svakog dana obaramo granice kvaliteta i određujemo nove standarde.</p>
    </div>
    <div class="reason" data-aos="zoom-in-up">
      <img src="/assets/img/inovativnost.svg" alt="{{site.description}}: Ikonica Inovativn Dizajn " class="reason-icon">
      <h2 class="reason-title">Inovativnost</h2>
      <p>Pratimo nove trendove na tržištu a i smišljamo nove kako bi ostali uvek sveži i najbolji.</p>
    </div>
    <div class="reason" data-aos="zoom-in-right">
      <img src="/assets/img/podrska.svg" alt="{{site.description}}: Ikonica Odlicna Korisnicka Podrska" class="reason-icon">
      <h2 class="reason-title">Korisnička podrška</h2>
      <p>Brzo izlazimo u susret klijentima i rešavamo probleme ili objašnjavamo nejasnoće.</p>
    </div>
  </div>
</section>
