<section class="novis-clients">
<h1 class="section-title novis-center" clients-title>Ko su naši klijenti?</h1>
<div class="clients-wrapper">
  <div class="clients-icon" data-aos="slide-up">
    <img src="/assets/img/clients-icon.svg" alt="{{site.title}}: Ikonica klijenta.">
  </div>
  <div class="clients-text">
    <h2>Naši klijenti su menadžeri, agenti, frizeri, prodavci, umetnici, blogeri, investitori, itd. Jednostavno rečeno, svi oni koji se trude da ostvare lakši život i kojima će pomoći to da se što dalje čuje za njih. Odbijamo da radimo sa klijentima koji se bave nelegalnim aktivnostimo i koji svojim delima mogu da oštete nekog.</h2>
    <div class="button-wrap">
      <a href="/kontakt/" class="novis-button bgc-l-red">Kontaktiraj nas</a>
    </div>
  </div>
</div>
</section>
