<section class="services-class">
  <h1 class="novis-center section-title">Šta radimo?</h1>
  <div class="services-wrapper">
    <div class="services-icon">
      <img src="/assets/img/services-icon.svg" alt="{{site.title}}: Responsive Web Dizajn .">
    </div>
    <div class="services-text">
      <h2>Dizajniramo i pravimo sajtove koji su kvalitetni i moderni. Svi sajtovi koje pravimo su čitljivi sa svih uređaja što je veoma bitno jer sve više ljudi pristupa internetu preko mobilnih telefona. Pravimo informativne sajtove, portfolie, blogove, internet prodavnice, itd. Pored sajtova dizajniranjem još stvari. Kliknite na dugme da saznate još. </h2>
      <div class="button-wrap">
        <a href="/kontakt/" class="novis-button bgc-l-red">Kontaktiraj nas</a>
      </div>
    </div>
  </div>
</section>
